frame=95613
fps=15.72
stream_0_0_q=35.9
bitrate=N/A
total_size=358088704
out_time_us=N/A
out_time_ms=N/A
out_time=N/A
dup_frames=0
drop_frames=0
speed=N/A
progress=continue
frame=95632
fps=15.72
stream_0_0_q=35.8
bitrate=N/A
total_size=358088704
out_time_us=N/A
out_time_ms=N/A
out_time=N/A
dup_frames=0
drop_frames=0
speed=N/A
progress=continue
frame=95633
fps=15.72
stream_0_0_q=32.0
bitrate= 749.3kbits/s
total_size=358328290
out_time_us=3825920000
out_time_ms=3825920000
out_time=01:03:45.920000
dup_frames=0
drop_frames=0
speed=0.629x
progress=end
